body{
  background-color:  #FFF1E9;
  font-family: 'Inter', sans-serif; 
}

a{
  text-decoration: none;
}

.container{
  
  position: relative;
}

.loading-page{
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #ff914d, #ff7a33, #ff5722);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

#svg{
  height: 150px;
  width: 150px;
  stroke: #fff;
  fill-opacity: 0;
  stroke-width: 5px;
  stroke-dasharray: 4500;
  animation: draw 8s ease;
}

@keyframes draw{
  0%{
      stroke-dashoffset: 4500;
  }
  100%{
      stroke-dashoffset: 0;
  }
}

.name-container{
  overflow: hidden;
  height: 30px;
}

.logo-name{
  color: #fff;
  font-size: 20px;
  letter-spacing: 12px;
  text-transform: uppercase;
  margin-left: 20px;
}

.imgs{
  width: 100%;
}
.img-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 200px auto;
  }

  .cssbuttons-io-button {
  background: #FF914D;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 900;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #FF914D;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #FF914D;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon i {
  width: 1.1em;
  transition: transform 0.3s;
  color: #FF914D;
}

.cssbuttons-io-button:hover .icon i {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon i {
  transform: scale(0.95);
}


@media (min-width: 576px) { 
  .img-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 200px auto;
  }

  .imgs {
    width: 100%; 
    }

    .cssbuttons-io-button {
  background: #FF914D;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #FF914D;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #FF914D;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #FF914D;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}
}

@media (min-width: 768px) { 
  .img-section {
    /* ... styles specific to medium devices ... */
  }
  .imgs {
    /* ... styles specific to medium devices ... */
  }
}